.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 70px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  font-size: 1rem;
  text-transform: uppercase;
  z-index: 5;
}

.navbar-spacer {
  width: 20%;
}

.navbar-logo {
  width: 80%;
  display: flex;
  justify-content: center;
}

.navbar-logo_link {
  display: flex;
}

#navbar-toggler {
  z-index: 10;
  display: none;
}

#navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  list-style: none;
}

.navbar-links_item:hover {
  transition: 0.2s ease;
}

.navbar-links_item:hover {
  opacity: 0.6;
}

.navbar-links_item:nth-of-type(2) {
  margin: 0 20px;
}

.header {
  margin: 0 10%;
  height: 90vh;
  display: flex;
  align-items: center;
  letter-spacing: 6px;
  font-size: 4rem;
}

.arrow {
  height: 10vh;
  text-align: center;
}

.main {
  display: flex;
}

.main-row {
  display: flex;
  flex-direction: column;
}

.main-project {
  width: 100%;
  height: auto;
  position: relative;
}

.main-project_image {
  display: block;
  width: 100%;
  height: auto;
}

.main-project_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #202020;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.main-project:hover .main-project_description {
  opacity: 0.99;
}

.main-project_link {
  color: white;
  transition: 0.3s;
}

.main-project_link:hover {
  font-weight: bold;
}

.footer {
  margin: 50px;
  font-size: 1rem;
}

.social {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.social-icon {
  margin-right: 10px;
  transition: 0.3s;
  height: 40px;
}

.social-icon:hover {
  height: 50px;
}

.current {
  font-weight: bold;
}