/* Header */

.header {
  display: flex;
  height: 100vh;
}

.header_left {
  background-color: white;
  flex: 1;
}

.header_right {
  background-image: url('../src/img/hero.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 3;
}

.header_title {
  position: absolute;
  bottom: 20%;
  left: 5%;
}

.header_nav {
  margin-top: 20px;
}

.header_nav_button {
  border: 1px solid black;
  padding: 5px 10px;
  margin-right: 20px;
}

.header_nav_button:hover {
  background-color: #1A1A1A;
  color: white;
}

/* About */

.about {
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 100px 10%;
}

.about_separator {
  background-color: white;
  width: 20px;
  height: 300px;
  margin: 0 10%;
}

.about_skills_list {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

/* Project */

.project {
  background-color: #D0D0D0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5% 0;
}

.project_container {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}

.project_image {
  width: 500px;
}

.project_links {
  margin-top: 20px;
  font-weight: 700;
}

/* Footer */

.footer {
  background-color: #1A1A1A;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.footer_icon {
  width: 50px;
  color: #D0D0D0;
  margin-right: 20px;
}