/* Header */

.header {
  display: flex;
  height: 100vh;
}

.header_left {
  background-color: white;
  flex: 1;
}

.header_right {
  background-image: url('../src/img/hero.png');
  background-position: top center;
  flex: 3;
}

.header_title {
  position: absolute;
  bottom: 20%;
  left: 5%;
}

.header_nav {
  margin-top: 20px;
}

.header_nav_button {
  border: 1px solid black;
  padding: 5px 10px;
  margin-right: 20px;
}

.header_nav_button:hover {
  background-color: #1A1A1A;
  color: white;
}

.header_social {
  position: absolute;
  right: 1%;
  bottom: 3%;
}

.header_social_icon {
  width: 30px;
  margin-right: 5px;
}

/* About */

.about {
  background-color: #1A1A1A;
  height: 100vh;
}

/* Project */

.project {
  background-color: #D0D0D0;
  height: 100vh;
}

/* Footer */

.footer {
  background-color: #1A1A1A;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.footer_icon {
  width: 50px;
  color: #D0D0D0;
  margin-right: 20px;
}