@media only screen and (max-width: 1800px) {
  html {
    font-size: 14px;
  }

  .header_title {
    background-color: white;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .header_left {
    flex: 0;
  }
}

@media only screen and (max-width: 920px) {
  .about {
    display: block;
  }

  .about_left {
    text-align: center;
  }

  .about_left_image {
    width: 200px;
  }

  .about_separator {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 12px;
  }
}