@media only screen and (max-width: 920px) {
  .about {
    display: block;
  }

  .about_left {
    text-align: center;
  }

  .about_left_image {
    width: 200px;
  }

  .about_separator {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

  a {
    font-size: 16px;
  }

  .project_container {
    width: 300px;
  }

  .project_image {
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .header_title_container {
    width: 80%;
  }
}