@media only screen and (max-width: 920px) {
  .about {
    display: block;
  }

  .about_left {
    text-align: center;
  }

  .about_left_image {
    width: 200px;
  }

  .about_separator {
    display: none;
  }
}