.container {
  padding: 0 20px;
}

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  background-color: white;
  font-size: 1rem;
}

.navbar-spacer {
  width: 20%;
}

.navbar-logo {
  width: 80%;
  display: flex;
  justify-content: center;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  list-style: none;
}

.navbar-links_item {
  margin-right: 20px;
}

.header {
  margin: 0 10%;
  height: 90vh;
  display: flex;
  align-items: center;
  letter-spacing: 6px;
  font-size: 4rem;
}

.arrow {
  height: 10vh;
}

.main {
  display: flex;
}

.main-row {
  display: flex;
  flex-direction: column;
}

.main-project {
  width: 100%;
  height: auto;
}

.main-project_image {
  display: block;
  width: 100%;
  height: auto;
}

.footer {
  margin: 50px;
  font-size: 1rem;
}

.social {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.social-icon {
  margin-right: 10px;
  transition: 0.3s;
  height: 40px;
}

.social-icon:hover {
  height: 50px;
}

.active {
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
}