.container {
  padding: 0 20px;
}

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.navbar-spacer {
  width: 20%;
}

.navbar-logo {
  width: 80%;
  display: flex;
  justify-content: center;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  list-style: none;
}

.navbar-links_item {
  margin-right: 20px;
}

.header {
  margin: 0 10%;
  height: 90vh;
  display: flex;
  align-items: center;
  letter-spacing: 6px;
  font-size: 5rem;
}

.arrow {
  height: 10vh;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.project-one {
  background: url('../src/img/projects/weather_app.png');
}
.project-two {
  background: url('../src/img/projects/meFit.png');
}
.project-three {
  background: url('../src/img/projects/vcs.png');
}
.project-four {
  background: url('../src/img/projects/preception.png');
}

.projects {
  background-position: center;
  background-size: cover;
  flex: 1;
  width: 200px;
  height: 500px;
}

.footer {
  margin: 50px;
}

.social {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.social-icon {
  margin-right: 10px;
  transition: 0.3s;
  height: 40px;
}

.social-icon:hover {
  height: 50px;
}

.active {
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}