.text-center {
  text-align: center;
}

.right {
  margin-left: 20vw;
}

.space-between {
  margin: 0 10px;
}

html {
  scroll-behavior: smooth;
}

/* Header Section */

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#primary_title {
  width: 375px;
  height: 89px;
}

#secondary_title {
  width: 557px;
  height: 96px;
  margin-top: 20px;
}

path {
  stroke-dasharray: 180;
  fill: none;
  animation: animate 6s forwards;
}

@keyframes animate {
  100% {
    fill: rgba(255, 255, 255, 1);
    stroke-dasharray: 1500;
  }
}

.header_social i {
  color: white;
}

/* About Section */

.about {
  height: 100vh;
  width: 20vw;
  position: fixed;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.about_img_container {
  max-width: 700px;
  clip-path: circle(38%);
}

.about_img {
  width: 100%;
  height: auto;
}

.about_skills {
  margin: 50px 0px;
}

.about_skills_title {
  margin-bottom: 10px;
}

.about_skills_list {
  display: inline-block;
}

.about_nav {
  margin: 10px 0;
  width: 100%;
}

.about_nav_list {
  display: flex;
  justify-content: space-around;
}

.about_nav_item {
  display: inline-block;
}

/* Main Section */

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

/* Carousel */

.carousel_container {
}

.carousel {
  width: 65vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  border-radius: 5px;

  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(70vw);
  scroll-snap-type: mandatory;
}

.carousel::-webkit-scrollbar {
  height: 10px;
}

.carousel::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-track {
  background: transparent;
}

.carousel_slide {
  width: 65vw;
  flex-shrink: 0;
  position: relative;
}

.carousel_img {
  width: 100%;
  height: auto;
}

.carousel_description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: lightgrey;
  transition: 0.5s ease;
}

.carousel_description:hover {
  opacity: 0.8;
}

.carousel_arrow {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  padding: 20px;
  color: white;
  font-size: 30px;
  transition: 0.5s ease;
  user-select: none;
}

.carousel_arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel_arrow_right {
  right: 0;
}

.carousel_arrow_left {
  left: 0;
}
