:root {
  --primary-bg-color: #c4c4c4;
  --primary-nav-color: #1f1f1f;
  --primary-font-color: black;
  --secondary-font-color: white;
}

body {
  background-color: var(--primary-bg-color);
  color: black;
}

.hero {
  background: url('../../images/laptop.jpg');
  background-size: cover;
  background-position: center top;
  min-height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 72%, 0 90%);
}

.nav {
  position: fixed;
  width: 100%;
  margin-top: 10vh;
}

.nav_list {
  display: flex;
  justify-content: flex-end;
}

.nav_list_item {
  background-color: var(--primary-nav-color);
  color: var(--secondary-font-color);
  padding: 20px 50px;
}
