@media only screen and (max-width: 1300px) {
  /* .about {
    width: 30vw;
  }

  .right {
    margin-left: 30vw;
  }

  .slideshow-container {
    max-width: 65vw;
  } */
}

@media only screen and (max-width: 920px) {
  /* .about {
    position: static;
    width: 100%;
    height: auto;
  }

  .right {
    margin-left: 0;
  }

  .slideshow-container {
    max-width: 95vw;
  } */
}
