@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
}

h1 {
  font-family: 'Rock Salt', cursive;
  text-align: center;
  font-size: 4rem;
}

h3 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}