.about {
  background-color: white;
  position: relative;
  padding: 10%;

  &-image {
    width: 100%;
    height: auto;
  }

  &-container {
    width: 100%;
    @include flex($flex-direction: column, $justify-content: space-around);
  }
  
  &-title {
    align-self: flex-start;
    margin: 30px 0 10px 0;
    text-transform: uppercase;
  }

  &-description {
    text-indent: 15px;
  }

  &-list {
    @include flex($justify-content: space-between);
    padding-left: 17px;
    text-transform: lowercase;

    &_container {

    }

    &_item {

    }
  }
}