.about {
  background-color: white;
  position: relative;
  padding: 10%;

  &-image {
    width: 100%;
  }

  &-description_title {
    margin: 30px 0 10px 0;
  }

  &-list {
    @include flex($justify-content: space-between);
    padding-left: 17px;
  }
}

@media all and (min-width: 1024px) {
  .about {
    &-container {
      @include flex();
    }

    &-image {
      width:  auto;
      max-height: 300px;
      order: 2;
    }

    &-description {
      &_container {
      order: 1;
      margin-right: 100px;
      }

      &_title:nth-child(1) {
        margin-top: 0;
      }
    }
  }
}