.project {
  position: relative;
  height: 500px;
  

  &-description {
    position: absolute;
    top: 0;
    height: 100%;
    color: white;
    background-color: black;
    opacity: 0;
    @include flex($flex-direction: column, $justify-content: space-evenly, $align-items: center);

    &:hover {
      opacity: 0.9;
    }
  }

  a {
    color: white;
  }
}

#vcs {
  background-image: url('./img/vcs.png');
  background-size: cover;
}