.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 2px 2px -2px gray;

  &-logo {
    justify-self: center;
  }

  &-slider {
    justify-self: end;
    margin-right: 10px;
  }
}